.centrar {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
  
  }

  .catalog {
    display: flex; 
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 20px; /* Espacio entre los elementos */
  }
  
  .item {
    width: 200px; /* Ancho deseado del elemento */
  }

  .item a {
    display: block; /* Hace que el enlace sea un bloque para poder aplicar márgenes */
    text-align: center; /* Centra el contenido dentro del bloque */
    margin-bottom: 20px; /* Agrega un margen inferior de 20px */
  }
  
  .item img {
    padding: 10px;
    width: 100%; 
    height: auto; 
    border-radius: 5px;
  }
  
  .caption {
    text-align: center; 
    padding: 10px; 
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
  }
  